!usr/
usr/*
!usr/data/
usr/data/*
!usr/data/test/
usr/data/test/*
!usr/data/test/db/
usr/data/test/db/*
!usr/data/test/db/segment.xml
!usr/data/test/seg/
usr/data/test/seg/*
!usr/data/test/seg/test/
usr/data/test/seg/test/*
*.class
*.log
gpg.sbt

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
