!doc/
doc/*
!doc/src
!doc/xsl
!usr/
usr/*
!usr/csv/
usr/csv/*
!usr/csv/*.gz
!usr/data/
usr/data/*
!usr/data/demo/
usr/data/demo/*
!usr/data/demo/db/
usr/data/demo/db/*
!usr/data/demo/db/segment.xml
!usr/data/demo/seg/
usr/data/demo/seg/*
!usr/data/demo/seg/table/
usr/data/demo/seg/table/*
!usr/data/demo/seg/table/.gitignore
!usr/data/demo/dbi
!usr/data/test/
usr/data/test/*
!usr/data/test/db/
usr/data/test/db/*
!usr/data/test/db/segment.xml
!usr/data/test/seg/
usr/data/test/seg/*
!usr/data/test/seg/test/
usr/data/test/seg/test/*
!usr/data/test/seg/test/.gitignore
!usr/sync/
usr/sync/*
!usr/sync/demo/
usr/sync/demo/*
!usr/sync/demo/db/
usr/sync/demo/db/*
!usr/sync/demo/db/segment.xml
!usr/sync/demo/seg/
usr/sync/demo/seg/*
!usr/sync/demo/seg/table/
usr/sync/demo/seg/table/*
!usr/sync/demo/seg/table/.gitignore
!usr/sync/demo/dbi
var/
*.class
*.log
gpg.sbt

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
